body{
    position: relative;
}
.bg{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}
.tebel-banget{
    font-weight: 900;
}
.tebel-sedang{
    font-weight: bold;
}

.desc {
    max-width: 480px;
}

.button{
    background-color: #00587A;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.35;
}

.button:hover{
    background-color: #00587A;
    color: white;
}

.gambar{
    display: none;
}

.img{
    width: 500px;
    z-index: -1;
}

.link{
    color: #00587A;
    text-decoration: none;
    transition: 0.35;
}

.link:hover{
    color: #00587A;
}

