.bg-custom{
    background-color: #00587A !important;
    transition: 0.35;
    color: white;
}
.bg-custom:hover{
    background-color: #00587A !important;
    color: white !important;
}

.bg-active{
    background-color: transparent !important;
    transition: 0.35;
    color: #00587A !important;
}

.navbar{
    width: 100%;
}

.link-navbar{
    color: black;
    transition: 0.35;
}

.link-navbar:hover{
    color: #00587A;
}